		@font-face{
			font-family: 'Nexus';
			src: url('../fonts/NexusStrokeOblique.otf') format('opentype');
		}
		body {
            background-color: #37353E;
            color: #D3DAD9;
            text-align: center;
			font-family: 'Nexus', sans-serif;
			background-image: url('../images/gameAwardsBack.jpg'); 
			background-size: cover;      
			background-position: center;  
			background-repeat: no-repeat;
			background-attachment: absolute;
			min-height: 100vh;  
			
        }
		
        img {
            display: block;
            margin: auto;
        }
		nav {
			position:fixed;
			width: 100%;        
			z-index: 1000;	
		}
		nav ul {
			list-style: none;
			margin: 0;
			padding: 20px;
			display: flex;
			justify-content: center; 
			align-items: center;      
			gap: 30px;
			background-color: #44444E;
			font-size: 20px;
			border:1px solid lightblue;
		}
		nav a {
			text-decoration: none;
			color: #D3DAD9;
			font-weight: bold;
			transition: color 0.3s;
		}
		nav a:hover {
			color: #FFD700; 
		}