h1 {
	background-color: black;
	color: white; 
	padding: 2vw;
	margin: 5vw;
}

#centerImg {
	height: 250px;
	width: 350px;
	display: block;             
	margin: 20px auto;        
}

.content {
	padding-top: 90px; 
}

.flex-grid {
	display: flex;
	flex-wrap: wrap;           
	justify-content: center;  
	gap: 20px;                
	margin: 40px auto;
	max-width: 900px;         
}

.grid-item {
	flex: 1 1 calc(50% - 40px);
	background-color: #2F2E38;
	color: white;
	border: 1px solid lightblue;
	text-align: center;
	padding: 30px;
	box-sizing: border-box;
	font-size: 18px;
}

@media (max-width: 600px) {
    .grid-item {
        flex: 1 1 100%;
    }



