		table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 60%;
			background-color:black;
			border:1px solid lightblue;
        }
        th, td {
            border: 2px solid lightblue;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: gray;
        }
		ol, ul {
			display: inline-block; 
			text-align: left;  
			margin: 20px auto;  
			background-color:black;
			border:1px solid lightblue;
		}
		
		.divClass{	
			background-color:black;
			border:1px solid lightblue;
		}
		
		.info {
			font-family: 'Nexus', sans-serif;
		}
		.content {
				padding-top: 90px; 
		}