		table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 60%;
			background-color:black;
			border:1px solid lightblue;
        }
        th, td {
            border: 2px solid lightblue;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: gray;
        }
		ol, ul {
			display: inline-block; 
			text-align: left;  
			margin: 20px auto;  
			background-color:black;
			border:1px solid lightblue;
		}
		
		.divClass{	
			background-color:black;
			border:1px solid lightblue;
		}
		
		.info {
			font-family: 'Nexus', sans-serif;
		}
		.content {
				padding-top: 90px; 
		}
		
		#GOTY_img {
			display: block;
			margin: 20px auto;
			border: 2px solid lightblue;
			border-radius: 10px;
			width: 60%;
			height: auto; 
		}


		@media (max-width: 768px) {
			#GOTY_img {
				width: 90%;   
			}
		}

	@media (max-width: 480px) {
		#GOTY_img {
			width: 100%;
		}
	}
